@import url ('https://fonts.googleapis.com/css2? family = Open + Sans: wght @ 300; 400; 700 & display = swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.conteudo{
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 60%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.conteudo::before{
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 60%;
}
.conteudo-1{
    display: flex;
    display: none;
    
     
}
.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.titulo-1{
    color: #fff;
}
.titulo-2{
    color:#58af9b ;
}
.descricao{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.descricao-1{
    color: #fff;
}
.descricao-2{
    color: #7f8c8d;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

  
  
  
.link-social-media {    
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .link-social-media:hover {
    background: #50f6ff;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .item-social-media a {
    position: absolute;
    display: block;
  }
  
  .item-social-midia span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .item-social-midia span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .item-social-midia span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .item-social-midia span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }


.btn-1{
    background: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
    padding: 10px;
}
.btn-2{
    background-color: #58af9b;
    border: 1px solid #58af9b;
    transition: background-color .5s;
    margin-top: 5px;
    
}
.btn-1:hover{
    background-color: #fff;
    color: #58af9b;
}
.btn-2:hover{
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}
.coluna-1{  
    text-align: center;
    width: 40%;
    z-index: 10;
}
.coluna-2{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    margin: 5px;
}
.lista-social{
    display: flex;
    list-style-type: none;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media:hover .item-social-media{
    background-color: #03e9f4;
    color: #fff;
    border-color: #30eef8;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
form input{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
}
.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 3px;
}
.icone{
    color: #7f8c8d;
    padding: 0 5px;
}
.conteudo-2{
    position: absolute;
    display: flex;
}
.conteudo-2 .coluna-1{
    order: 2;
    
}
.conteudo-2 .coluna-2{
    order: 1;
    
}
.password{
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter{
    text-transform: capitalize;
}