@import url ('https://fonts.googleapis.com/css2? family = Open + Sans: wght @ 300; 400; 700 & display = swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}
.conteudo{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.conteudo::before{
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left:60%;
}
.conteudo-1{
    display: flex;
    display: none;
    
}
.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.titulo-1{
    color: white;
}
.titulo-2{
    color:#58af9b ;
}
.descricao{
    font-size: 14px;
    height: 300;
    line-height: 30px;
}
.descricao-1{
    color: white;
}
.descricao-2{
    color: #95a5a6;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-1{
    background: transparent;
    border: 1px solid white;
}
.btn-2{
    background-color: #58af9b;
    border: 1px solid #58af9b;
}
.btn-1:hover{
    background-color: white;
    color: #58af9b;
}
.btn-2:hover{
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}
.coluna-1{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}
.coluna-2{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.midia-social{
    margin: 1rem 0;
}
.lista-social{
    display: flex;
    list-style-type: none;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media:hover .item-social-media{
    background-color: #58af9b;
    color: #fff;
    border-color: #58af9b;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}
form input{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
}
.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icone{
    color: #7f8c8d;
    padding: 0 5px;
}
.conteudo-2{
    position: absolute;
    display: flex;
}
.conteudo-2 .coluna-1{
    order: 2;
}
.conteudo-2 .coluna-2{
    order: 1;
}